#!/bin/sh

ECR_URI=""

aws ecr get-login-password --region ap-northeast-2 | docker login --username AWS --password-stdin $ECR_URI
docker build -t $ECR_URI/kubernetes-inference-deploy:latest .
docker push $ECR_URI/kubernetes-inference-deploy:latest