module "serverless_inference" {
  source = "github.com/kookmin-sw/capstone-2024-12//IaC/serverless_inference"
  #prefix도 randomize 필요
  prefix = "mjh-test-gpu_family_recommend"
  #아래는 예시 / model 추론 image는 이미 존재한다고 가정.
  container_registry = "694448341573.dkr.ecr.ap-northeast-2.amazonaws.com"
  container_repository = "recommend-inference-gpu-family"
  container_image_tag = "latest"
  #ramsize또한 추천받을 필요 있을듯.
  lambda_ram_size = 1024
}

variable "region" {
  type    = string
  default = "ap-northeast-2"
}

output "function_url" {
  value = module.serverless_inference.function_url
}

provider "aws" {
    region = var.region
}